.navbar{
    display:flex;
        align-items: center;
    justify-content: space-between;
    margin-top: 0;
    margin-right: 50px;
    margin-left: 50px;
    position: fixed; 
    top: 0; 
    left: 0; 
    right: 0; 
    z-index: 100; 
    background-color: #1f0016; 
    padding: 10px 20px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.logo {
    display: flex;
    flex-direction: column;      
    align-items: flex-start;     
    position: relative;          
    margin-right: 20px;         
  }
  
  .logo h1 {
    font-size: 30px;             
    margin: 0;
    padding-left: 0;           
    color: white;                
    z-index: 2;         
  }
  
  .logo img {
    width: 80px;                
    height: auto;               
    position: absolute;          
    bottom: -5px;               
    left: 0;                     
    z-index: 1;                 
    object-fit: contain;         
  } 
   .nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 20px;
}
.nav-connect{
    padding: 20px 40px;
    border-radius:50px;
    background: linear-gradient(267deg, #da7c25 0.36%,#8923e1);
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s;
}
.nav-connect:hover{
    transform: scale(1.05);
}
.nav-menu li{
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}
.nav-menu li img{
    display: flex;
    margin: auto;
}
.anchor-link{
    text-decoration: none;
    color: white;
}
.nav-mob-close{
    display: none;
}
.nav-mob-open{
    display: none;
}
@media(max-width:768px){
    .navbar{
        margin: 20px 50px;
    }
    .nav-connect{
        display: none;
    }
    .nav-mob-open{
        display: block;
        position: fixed;
        right: 30px;
    }
    .nav-mob-close{
        display: block;
        position: relative;
        top: 30px;
        left: 290px;
        width: 30px;
    }
    .nav-menu {
        position: fixed;
        flex-direction: column;
        align-items: start;
        top: 0;
        gap: 30px;
        background-color: #1f0016;
        width: 350px;
        height: 100%;
        z-index: 2;
        transition: right 0.5s;
        right: -350px;
    }
    .nav-menu li{
        font-size: 30px;
        padding-left:100px ;
        flex-direction: row;
        gap: 20px;
    }
}